/* size of map ctn */
.leaflet-container {
  width: 100%;
  height: 90vh;
}

.leaflet-marker-icon {
  background-image: url("../src/assets/placeholder.png");
}

.leaflet-default-icon-path { /* used only in path-guessing heuristic, see L.Icon.Default */
	background-image: url("../src/assets/placeholder.png");
	}